.header
    .menu
        .item
            a.link(href=root)
                img.logo(src=root+"./assets/logo-gcanvas.png")
        .item
            a.link(href=root+"docs/Introduction.html") Docs
        .item
            a.link(href=root+"community.html") Community
        .item
            a.link(href=root+"playground.html") Playground
        .item
            a.link(href="https://github.com/alibaba/GCanvas" target="_blank")
                img.logo-small(src=root+"assets/logo-github.png")
        .item-right.item
            a.link(href="https://alibaba.github.io/G3D/") G3D
